.tasks-wrapper {
    width: 1230px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.tasks-title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.tasks-desc {
    width: 620px;
    height: 54px;
    margin-top: 18px;
    margin-bottom: 68px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}
 .tasks-card-wrapper{
    display: flex;
    justify-content: space-between;
 }